@page
@model Biblioteca.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Iniciar sesión";
}

<h2>Iniciar sesión</h2>
<hr />

<form method="post">
    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
    <div class="mb-3">
        <label asp-for="Input.UserName" class="form-label"></label>
        <input asp-for="Input.UserName" class="form-control" />
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Password" class="form-label"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="mb-3 text-danger">
        @Html.ValidationSummary()
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    <a asp-page="/Account/Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-link">Registrarse</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

